@font-face {
  font-family: 'Google';
  src: url('./assets/fonts/GoogleSansDisplay-Regular.ttf') format('ttf');
}


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #e1effc;
}
